
html{
	background-color: rgb(240, 240, 240);
	background-image: url("Img/Arts.jpg");
	background-attachment: fixed;
	background-color: rgba(58, 58, 58, 1);
  	background-blend-mode: multiply;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

/*top*/
.hl{
    background-color: white;
	position: fixed;
	top: 0;
    display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	height: 70px;
	left: 0;
	top: 0;
	z-index: 20;
	box-shadow: 0 5px 0 0 #e90b8b;
}

/*lower*/
lower {
	justify-content: center;
}
lower img {
	transform: skew(-0.06turn, 18deg);
	border-radius: 20px;
    margin: 20px;
}





/*buttons*/
.artb p {
	font-family: sans-serif;
	font-size: 24px;
	text-transform: uppercase;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: linear-gradient(to right, #352384, #e90b8b);
	margin: 10px;
}
.artcl {
	text-decoration: none;
	color: black;
	font-family: sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	background-size: 0% 10%;
	background-image: linear-gradient(to right, #352384, #e90b8b);
	background-repeat: no-repeat;
	background-position: center bottom;
	padding-bottom: 2px;
	transition: 0.3s;
}
.artcl:hover {
	background-size: 100% 10%;
}

.desc {
	text-decoration: none;
	color: black;
	font-family: sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	background-size: 0% 10%;
	background-image: linear-gradient(to right, #352384, #e90b8b);
	background-repeat: no-repeat;
	background-position: center bottom;
	padding-bottom: 2px;
	transition: 0.3s;

	margin: 10px 10px 10px 620px;
}
.desc:hover {
	background-size: 100% 10%;
}

.blog {
	text-decoration: none;
	color: black;
	font-family: sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	background-size: 0% 10%;
	background-image: linear-gradient(to right, #352384, #e90b8b);
	background-repeat: no-repeat;
	background-position: center bottom;
	padding-bottom: 2px;
	transition: 0.3s;

	margin: 10px;
}
.blog:hover {
	background-size: 100% 10%;
}

.bus {
	text-decoration: none;
	color: black;
	font-family: sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	background-size: 0% 10%;
	background-image: linear-gradient(to right, #352384, #e90b8b);
	background-repeat: no-repeat;
	background-position: center bottom;
	padding-bottom: 2px;
	transition: 0.3s;

	margin: 10px;
}
.bus:hover {
	background-size: 100% 10%;
}

.reg {
    padding: 7px 25px 7px 25px; 
    background-color: #e90b8b; 
    color: #fff; 
    border: none; 
    font-size: 18px; 
	font-family: sans-serif;
	box-shadow: 4px 4px 0 0 #961d63, -4px -4px 0 0 #961d63;
	position: relative;
    transition: background-color 0.4s, box-shadow 0.2s 0.3s; 


	margin: 10px;
}
.reg:hover {
    background-color: #961d63; 
    box-shadow: 0 0 0 0;
}

.log {
    padding: 7px 25px 7px 25px; 
    background-color: #352384; 
    color: #fff; 
    border: none; 
    font-size: 18px; 
	font-family: sans-serif;
	box-shadow: 4px 4px 0 0 #23135f, -4px -4px 0 0 #23135f;
	position: relative;
    transition: background-color 0.4s, box-shadow 0.2s 0.3s; 

	margin: 10px 10px 10px 520px;
}
.log:hover {
    background-color: #23135f; 
    box-shadow: 0 0 0 0;
}

/*body*/
body {
	margin: 0;
}
.scroll1 {
	background-color: #f1f1f1;
	z-index: 2;
	width: 100vw;
	height: 100vh;
	left: 0;
	position: sticky;
	box-shadow: 0 2px 5px 0 #352384;
}
.scroll1 img {
	border-radius: 2em;
}
.im1 {
	position: relative;
	top: 15vh;
	left: 2vh;
	z-index: 5;
}
.im2 {
	position: relative;
	top: 18vh;
	left: -5vh;
	z-index: 3;
}
.im3 {
	position: relative;
	top: 12vh;
	left: -16vh;
	z-index: 4;
}
.scroll1 span {
	text-align: left;
	position: relative;
	top: 28vh;
	font-family: sans-serif;
}
.scroll1 span h1 {
	font-size: 48px;
}
.scroll1 span p {
	font-size: 32px;
}
.scroll2 {
	left: 0;
	z-index: 2;
	width: 100vw;
	height: 70vh;
	position: sticky;
	justify-content: center;
	align-items: center;
	display: flex;
	flex: 0 0 120px;
}
.scroll2 span {
	color: white;
	font-family: sans-serif;
	text-align: center;
	vertical-align: middle;
	text-shadow: 0 0 4px #e90b8b;
}
.scroll2 span h1 {
	font-size: 64px;
}
.scroll2 span p {
	font-size: 24px;
}
.scroll3 {
	background-color: #f1f1f1;
	z-index: 2;
	width: 100vw;
	height: 100vh;
	left: 0;
	position: sticky;
	box-shadow: 0 -2px 5px 0 #e90b8b;
}
.scroll3 img {
	position: relative;
	border-radius: 2em;
}
.im4 {
	right: 5vh;
	z-index: 5;
	top: 15vh;
}
.im5 {
	z-index: 3;
	top: 10vh;
}
.im6 {
	z-index: 4;
	top: 20vh;
	right: -5vh;
}
.scroll3 span h1 {
	font-size: 48px;
}
.scroll3 span p {
	font-size: 32px;
}
.scroll3 span {
	text-align: right;
	position: relative;
	top: 35vh;
	font-family: sans-serif;
}
.buttom {
		background-color: #1f1f1f;
		z-index: 2;
		width: 100vw;
		height: 40vh;
		left: 0;
		position: sticky;
		box-shadow: 0 -5px 0 0 #352384;
	}