*{
    font-family: 'Nunito', sans-serif;
}
.headerColor {
	background-color: white;
}
header{
	z-index: 100;
}
html {
	background-image: url(Img/Arts.jpg);
	background-attachment: fixed;
	overflow-x: hidden;
	scroll-behavior: smooth;
	background-color: rgba(58, 58, 58, 1);
	background-blend-mode: multiply;
}
body {
	background-color: transparent;
	background-color:transparent !important;

}
.article1 {
	height: 100vh;
	background-color: white;
	z-index: 2;
}
.article2 {
	height: 70vh;
}
.article3 {
	height: 100vh;
	background-color: white;
}
.h-er {
    background-color: white;
	position: fixed;
	box-shadow: 0 5px 0 0 #e90b8b;
}
.m-color {
	background-color: blueviolet;
}
.footer1 {
	height: 7vh;
	background-color: #353535;
}
.footer2 {
	height: 15vh;
	background-color: #1f1f1f;
}
.headerUl {
	list-style-type: none;
}
.headerUl li {
	position: relative;
	float: left;
	margin: 10px;
	font-size: 24px;
}
.headerUl li a {
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	background-size: 0% 6%;
	background-image: linear-gradient(to right, #352384, #e90b8b);
	background-repeat: no-repeat;
	background-position: center bottom;
	padding-bottom: 1px;
	transition: 0.3s;
}
.headerUl li a:hover {
	background-size: 100% 6%;
}
.logo {
	position: relative;
	float: left;
	font-size: 24px;
	text-transform: uppercase;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: linear-gradient(to right, #352384, #e90b8b);
}
.logoStyle {
	text-decoration: none;
	color: black;
	font-size: 24px;
	text-transform: uppercase;
	background-size: 0% 6%;
	background-image: linear-gradient(to right, #352384, #e90b8b);
	background-repeat: no-repeat;
	background-position: center bottom;
	padding-bottom: 1px;
	transition: 0.3s;
	margin: 14px;
	cursor: pointer;
}
.logoStyle:hover {
	background-size: 100% 6%;
}
.avtorisedButtons {
	position: relative;
	font-size: 24px;
}
.loginButton {
	border: none;
	background-color: rgb(206, 206, 206);
	border-radius: 5em;
	margin: 10px 5px 10px 5px;
	float: right;
	width: 113px;
	transition: box-shadow 0.2s 0.4s, background-color 0.3s;
}
.loginButton:hover {
	box-shadow: 0 0 0 3px white, 0 0 0 6px rgb(190, 190, 190);
	background-color: rgb(190, 190, 190);
}
.registerButton {
	border: none;
	background-color: red;
	color: white;
	border-radius: 5em;
	margin: 10px 5px 10px 5px;
	float: right;
	width: 113px;
	transition: box-shadow 0.2s 0.4s, background-color 0.3s;
}
.registerButton:hover {
	box-shadow: 0 0 0 3px white, 0 0 0 6px rgb(134, 0, 0);
	background-color: rgb(134, 0, 0);
}
.im1 {
	width: 20%;
	border-radius: 2em;
	z-index: 50;
	margin-top: 150px;
	margin-left: 20px;
	position: relative;
}
.im2 {
	width: 18%;
	border-radius: 2em;
	z-index: 30;
	margin-top: 190px;
	margin-left: -60px;
	position: relative;
}
.im3 {
	width: 20%;
	border-radius: 2em;
	z-index: 40;
	margin-top: 130px;
	margin-left: -90px;
	position: relative;
	margin-right: 30px;
}
section {
	z-index: 10;
}
article {
	z-index: 20;
}
.article1 div span h1 {
	font-size: 48px;
	position: relative;
	padding-top: 250px;
	text-align: center;
}
.article1 div span p {
	font-size: 32px;
	position: relative;
	padding: 30px;
	text-align: justify;
	padding-right: 30px;
}
.article2 div span h1 {
	font-size: 48px;
	position: relative;
	text-align: center;
	color: white;
	padding: 200px 0 30px 0;
}
.article2 div span p {
	font-size: 32px;
	position: relative;
	text-align: center;
	padding: 0 400px 0 400px;
	color: white;
}
.im4 {
	width: 20%;
	border-radius: 2em;
	z-index: 50;
	margin-top: 140px;
	position: relative;
	margin-right: 20px;
}
.im5 {
	width: 18%;
	border-radius: 2em;
	z-index: 30;
	margin-top: 180px;
	margin-right: -60px;
	position: relative;
}
.im6 {
	width: 20%;
	border-radius: 2em;
	z-index: 40;
	margin-top: 120px;
	margin-right: -90px;
	position: relative;
	margin-left: 30px;
}
.article3 div span h1 {
	font-size: 48px;
	position: relative;
	padding-top: 250px;
	text-align: center;
}
.article3 div span p {
	font-size: 32px;
	position: relative;
	padding: 30px;
	text-align: justify;
	padding-right: 30px;
}
