
html{
	background-color: rgb(240, 240, 240);
}

/*top*/
.hl{
    background-color: white;
    display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100%;
	left: 0%;
	top: 0%;
}

/*buttons*/
.log{
	display: block;
	width: 200px;
	height: 40px;
	line-height: 10px;
	font-size: 18px;
	font-family: sans-serif;
	text-decoration: none;
	color: rgb(138, 138, 138);
	border: 2px solid rgb(138, 138, 138);
	letter-spacing: 2px;
	text-align: center;
	position: relative;
	transition: all .35s;
	margin: 10px;
}
.log span{
	position: relative;
	z-index: 2;
}
.log:after{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	background: rgb(138, 138, 138);
	transition: all .35s;
}
.log:hover{
	color: rgb(255, 255, 255);
}
.log:hover:after{
	height: 100%;
}
.desc{
	display: block;
	width: 200px;
	height: 40px;
	line-height: 10px;
	font-size: 18px;
	font-family: sans-serif;
	text-decoration: none;
	color: rgb(218, 131, 0);
	border: 2px solid rgb(218, 131, 0);
	letter-spacing: 2px;
	text-align: center;
	position: relative;
	transition: all .35s;
	margin: 10px;
}
.desc span{
	position: relative;
	z-index: 2;
}
.desc:after{
	position: absolute;
	content: "";
	top: 0; 
	left: 0;
	width: 100%;
	height: 0;
	background: rgb(218, 131, 0);
	transition: all .35s;
}
.desc:hover{
	color: rgb(0, 0, 0);
}
.desc:hover:after{
	height: 100%;
}
.reg{
	display: block;
	width: 200px;
	height: 40px;
	line-height: 10px;
	font-size: 18px;
	font-family: sans-serif;
	text-decoration: none;
	color: rgb(255, 0, 0);
	border: 2px solid rgb(255, 0, 0);
	letter-spacing: 2px;
	text-align: center;
	position: relative;
	transition: all .35s;
	margin: 10px;
}
.reg span{
	position: relative;
	z-index: 2;
}
.reg:after{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	background: #ff003b;
	transition: all .35s;
}
.reg:hover{
	color: rgb(255, 255, 255);
}
.reg:hover:after{
	height: 100%;
}
.blog{
	display: block;
	width: 200px;
	height: 40px;
	line-height: 10px;
	font-size: 18px;
	font-family: sans-serif;
	text-decoration: none;
	color: rgb(190, 1, 190);
	border: 2px solid rgb(190, 1, 190);
	letter-spacing: 2px;
	text-align: center;
	position: relative;
	transition: all .35s;
	margin: 10px;
}
.blog span{
	position: relative;
	z-index: 2;
}
.blog:after{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	background: rgb(190, 1, 190);
	transition: all .35s;
}
.blog:hover{
	color: rgb(255, 255, 255);
}
.blog:hover:after{
	height: 100%;
}
.bus{
	display: block;
	width: 200px;
	height: 40px;
	line-height: 10px;
	font-size: 18px;
	font-family: sans-serif;
	text-decoration: none;
	color: rgb(22, 22, 22);
	border: 2px solid rgb(22, 22, 22);
	letter-spacing: 2px;
	text-align: center;
	position: relative;
	transition: all .35s;
	margin: 10px;
}
.bus span{
	position: relative;
	z-index: 2;
}
.bus:after{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	background: #000000;
	transition: all .35s;
}
.bus:hover{
	color: rgb(255, 255, 255);
}
.bus:hover:after{
	height: 100%;
}